body {
	background-color: #eddcd2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#top_menu {
	width: 100%;
	height: 10%;
	position: fixed;
	top: 8%;
	background-color: lightslategray;
	margin: auto;
	z-index: 10;
	opacity: 50%;
	
}

#top_menu_items_box {
	
	width: 100%;
	height: 10%;
	top:8%;
	position: fixed;
	z-index: 12;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	align-content: ;
	/*background-color: red;*/
}

.top_menu_item {
	
	font-family: Gill Sans, Verdana, Arial, Calibri, 'Roboto', sans-serif;
	font-style: "Book";
	font-size: 150%;
	color: white;
	text-align: center;
	width: 15%;
	height: 50%;
	z-index: 11;
	margin-left: 1%;
	margin-right: 1%;
	
	/*background-color: yellow;*/

}


#me {
	border-radius: 50%;
	width:11%;
	position: fixed;
	right: 1%;
	z-index: 12;
	background-color: white;
	/*display: inline;*/

}

#content {
	display: flex;
	justify-content: space-around;
	align-items: space-around;
	flex-direction: column;
	top: 15%;
	background-color: pink;
	width: 100%;
	height: 150%;
	flex-wrap: wrap;
}
#title {
	display: flex;
	top: 10%;
	align-items: center;
	width: 100%;

}

#titletext {
	font-family: "Bebas Neue", "Impact";
	font-style: "normal";
	font-size: 800%;
	color: #cb997e;
	text-align: center;
	margin:5%;
}

#char_sheetcontainer{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	background-color: black;
	top: 20%;
	position: absolute;

}

#char_sheet {
	height: 100%;
	width: 50%;
	margin: 3%;
/*	background-color: red;
*/
}

#char_sheet_image {
	height: 100%;
}

#char_sheet_text {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100%
	width: 30%;
	background-color: #a5a58d;
	margin: 3%;
}

#text {
	color: #fff1e6;
	font-family: Gill Sans, Roboto;
	font-size: 100%;
	margin: 5%;
	text-align: justify;
  	text-justify: inter-word;

}